.workspace__risk__step-1__tabs {
  height: 100%;
  display: flex;
  flex-direction: column;
  :deep(.el-tabs__content) {
    flex: 1;
    padding: 0;
    .el-tab-pane {
      height: 100%;
      .table-main {
        border: 0;
        box-shadow: none;
      }
    }
  }
}
